Repository Marfourz/ref-opensi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_prod, build_frontend_page_prod

.gitlab-ci.yml:

#snb

stages:
  - build
  - deploy

before_script:
  - echo $gcr_sa | base64 -d > gcloud-api-key.json
  - cat gcloud-api-key.json | docker login -u _json_key --password-stdin https://eu.gcr.io &

build_backend_prod:
  only:
    refs:
      - prod
    changes:
      - backend/**/*
      - .gitlab-ci.yml
  stage: build
  script:
    - docker-compose -f docker-compose.yml build
    - docker push eu.gcr.io/kkiapay/snb/backend:prod
  tags:
    - shell-runner-snb
  environment:
    name: production

build_frontend_page_prod:
  only:
    refs:
      - prod
    changes:
      - frontend/**/*
      - .gitlab-ci.yml
  stage: build
  script:
    - cp ./front/.env ./frontend/.env
    - docker-compose -f docker-compose.yml build
    - docker push eu.gcr.io/kkiapay/snb/frontend:prod
  tags:
    - shell-runner-snb
  environment:
    name: production

deploy_dev_images_prod:
  stage: deploy
  tags:
    - shell-runner-snb
  only:
    - prod
  #before_script:
  #  - docker login https://eu.gcr.io
  script:
    - docker-compose -f docker-compose.yml pull
    - docker-compose -f docker-compose.yml up -d --force-recreate

fix:order creation
  backend/apps/core/src/order/order.service.ts
  backend/apps/core/src/organisation/organisation.service.ts
Due: build_backend_prod

appro api integration
  backend/apps/core/src/order/order.service.ts
  front/src/components/Basket.vue
  front/src/components/EmptyState.vue
  front/src/components/Order.vue
  front/src/components/base/BaseActions.vue
  front/src/components/base/BaseTable.vue
  front/src/components/base/BaseTableStatut.vue
  front/src/components/base/BaseTableWithFilter.vue
  front/src/views/snb/appros/index.vue
Due: build_backend_prod

fix:products turnover
  backend/apps/core/src/organisation/organisation.service.ts
Due: build_backend_prod

docker compose file
  docker-compose.yml
Due: none

Dockerfile for backend
  backend/Dockerfile
Due: build_backend_prod

Dockerfile for front
  front/Dockerfile
Due: none

nginx config file
  front/nginx.conf
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_backend_prod, build_frontend_page_prod

fix:top-partners
  backend/apps/core/src/organisation/organisation.controller.ts
  backend/apps/core/src/organisation/organisation.service.ts
Due: build_backend_prod

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Dockerfile
  backend/Dockerfile
Due: build_backend_prod

fix:top-partners
  backend/apps/core/src/order/order.controller.ts
  backend/apps/core/src/order/order.service.ts
Due: build_backend_prod

dashboard
  front/.env
  front/src/stores/organization.ts
  front/src/types/enumerations.ts
  front/src/views/index.vue
  front/src/views/snb/products/index.vue
  front/src/views/snb/subDistributors/index.vue
  front/tailwind.config.js
Due: none

dashboard
  front/src/stores/organization.ts
  front/src/types/enumerations.ts
  front/src/views/index.vue
Due: none

feat:add user field to order model
  backend/apps/core/src/order/order.controller.ts
  backend/apps/core/src/order/order.service.ts
  backend/middlewares/authentication.middleware.ts
  backend/prisma/migrations/20230301204554_init/migration.sql
  backend/prisma/schema.prisma
Due: build_backend_prod

fix : conflicts
  front/src/components/Order.vue
  front/src/components/PageInTwoPart.vue
  front/src/components/SearchInput.vue
  front/src/components/SideBar/index.vue
  front/src/components/base/BaseActions.vue
  front/src/components/base/BaseTable.vue
  front/src/components/base/BaseTableWithFilter.vue
  front/src/components/icons/IconSearch.vue
  front/src/components/icons/IconShop.vue
  front/src/stores/orders.ts
  front/src/views/index.vue
  front/src/views/snb/appros/index.vue
  front/src/views/snb/orderReceived/index.vue
Due: none
