Repository Marfourz/ref-opensi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_prod, build_frontend_page_prod

build_backend_prod:
  stage: build
  script:
  - docker build -f  backend/Dockerfile -t registry.gitlab.com/opensi/snb-back:prod .
  - docker push registry.gitlab.com/opensi/snb-back
  tags:
  - shell-1
  environment:
    name: production

build_frontend_page_prod:
  stage: build
  script:
  - cp ./frontend/.env ./frontend/.env
  - docker build -f front/Dockerfile -t registry.gitlab.com/opensi/snb-front:prod .
  - docker push registry.gitlab.com/opensi/snb-front
  tags:
  - shell-1
  environment:
    name: production

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_backend_prod, build_frontend_page_prod

Update
  .gitlab-ci.yml
Due: build_backend_prod, build_frontend_page_prod

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_backend_prod, build_frontend_page_prod

Update Dockerfile
  front/Dockerfile
Due: none

fix:remove field userId to order model
  backend/apps/core/src/order/order.controller.ts
  backend/apps/core/src/order/order.service.ts
  backend/apps/core/src/organisation/organisation.controller.ts
  backend/apps/core/src/organisation/organisation.service.ts
  backend/apps/notification/src/constants.notifications.ts
  backend/prisma/migrations/20230302082301_init/migration.sql
  backend/prisma/schema.prisma
Due: build_backend_prod

fix : update
  backend/apps/core/src/order/order.service.ts
  front/.env
  front/src/components/SideBar/index.vue
  front/src/components/SuccessInfo.vue
  front/src/components/base/BaseAutoComplete.vue
  front/src/components/base/BaseButton.vue
  front/src/components/base/BaseDateRange.vue
  front/src/components/base/BaseInput.vue
  front/src/components/base/BaseSelectedCard.vue
  front/src/components/icons/IconCalendar.vue
  front/src/components/icons/IconCheck.vue
  front/src/components/icons/IconInfo.vue
  front/src/main.ts
  front/src/views/index.vue
  front/src/views/snb/categories/index.vue
  front/src/views/snb/deliveryPerson/index.vue
  front/src/views/snb/orderReceived/components/FormAssignDeliveryPerson.vue
  front/src/views/snb/orderReceived/index.vue
  front/src/views/snb/stock/update.vue
  front/src/views/users/index.vue
Due: build_backend_prod

Update Dockerfile
  backend/Dockerfile
Due: build_backend_prod

Update file docker-compose.yml
  docker-compose.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Update 2 files
  .gitlab-ci.yml
  docker-compose.yml
Due: build_backend_prod, build_frontend_page_prod

dashboard table
  front/.env
  front/src/types/interfaces.ts
  front/src/views/index.vue
Due: none

fix:corections on dashboard
  backend/apps/core/src/order/order.controller.ts
  backend/apps/core/src/order/order.service.ts
  backend/apps/core/src/organisation/organisation.controller.ts
  backend/apps/core/src/organisation/organisation.service.ts
  backend/apps/core/src/stock/stock.service.ts
  backend/helpers/getPlainStatus.ts
Due: build_backend_prod

update
  docker-composeLocal.yml
  front/Dockerfile
Due: none

fix:organisation stocks
  backend/apps/core/src/organisation/organisation.service.ts
  backend/apps/core/src/stock/stock.service.ts
  backend/apps/core/src/user/user.service.ts
Due: build_backend_prod

fix:errors handling
  backend/apps/core/src/organisation/organisation.service.ts
  backend/apps/core/src/user/user.service.ts
Due: build_backend_prod

fix auth
  front/src/components/ProductInput.vue
  front/src/components/base/BaseTableWithFilter.vue
  front/src/components/icons/IconCalendar30.vue
  front/src/components/icons/IconCash.vue
  front/src/stores/orders.ts
  front/src/stores/product.ts
  front/src/views/index.vue
  front/src/views/snb/deliveryPerson/index.vue
  front/src/views/snb/orderReceived/index.vue
  front/src/views/snb/products/components/ProductByCategory.vue
  front/src/views/snb/stock/index.vue
  front/src/views/snb/stock/update.vue
  front/src/views/snb/subDistributors/index.vue
  front/src/views/users/index.vue
Due: none

Update file nginx.conf
  front/nginx.conf
Due: none

Update file Dockerfile
  front/Dockerfile
Due: none

Path conditions:
  build_backend_prod: any of: backend/**/*, .gitlab-ci.yml
  build_frontend_page_prod: any of: frontend/**/*, .gitlab-ci.yml
